*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    
}

section{
    padding:50px;
    background-color:#000;

}

section h2{
    color:white;
    font-size:3rem;
    font-weight:bold;
    letter-spacing: 6px;
}

section>p{
    color:white;
    margin-top:10px;
    font-size:1.5rem;
    letter-spacing: 1px;
}

::-webkit-scrollbar{
    width:0;
}

.scrollPath{
    width:10px;
    background-color: white;
    height:100%;
    position:fixed;
    top:0;
    right:0;
}

.progressbar{
    width:10px;
    background:linear-gradient(to top,green , orange);
    height:100%;
    position:fixed;
    top:0;
    right:0;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    animation: animation1 5s linear infinite;
}

@keyframes animation1{
    0% , 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

.progressbar:after{
    content:"";
    width:100%;
    background:linear-gradient(to top,green , orange);
    height:100%;
    position:absolute;
    top:0;
    right:0;
    filter:blur(30px);
}

.progressbar:before{
    content:"";
    width:100%;
    background:linear-gradient(to top,green , orange);
    height:100%;
    position:absolute;
    top:0;
    right:0;
    filter:blur(30px);
}


/* 

document.body.scrollHeight
window.innerHeight
window.pageYOffset

*/ 